<a class="btn btn-primary custom-card my-3" href="{{ path('category_show', {name: category.name}) }}">
  <p class="custom-title-dark medium">{{ category.name }} </p>
  {% if category.programs|length != 0 %}
  <p>Séries disponobiles {{ category.programs|length }}</p>
  {% else %}
  <p>Pas de série disponible</p>
  {% endif %}
</a>
