{% extends "base.html.twig" %}
{% block title %}
Catégorie - Nouvelle
{% endblock %}
{% block body %}
<div class="form text-center p-5">
    {{ form_start(form, {'attr': {'novalidate': 'novalidate', 'method': 'POST'}}) }}
    <div class="row">
        <h3>Nom de la catégorie</h3>
        <div class="text-start">{{ form_errors(form.name) }}</div>
        <div>{{ form_widget(form.name) }}</div>
    </div>
    <input class="btn custom-btn-dark mt-3" type="submit" value="Ajouter une catégorie">
    {{ form_end(form) }}
</div>
{% endblock %}