<a href="{{ path('program_show', {program: program.id}) }}" class="btn custom-card card-program-small my-3">
  <h1 class="custom-title-dark small text-center">
    {{ program.title }}
  </h1>
  <p class="dark">{{ program.seasons|length }} saisons</p>
  <p class="text-start">{{ program.summary }}</p>
</a>