{% extends "base.html.twig" %}
{% block title %}
Programs
{% endblock %}
{% block body %}
<h1>Toutes les séries de la table program : </h1>
<div class="d-flex justify-content-evenly flex-wrap">
    {% for program in programs %}
        {% include "program/_program.html.twig" %}
    {% else %}
        Aucune série trouvée.
    {% endfor %}
</div>
<div class="d-flex justify-content-evenly">
    <a href="{{ path('app_index') }}">
        Retour à l'accueil
    </a>
    <a href="{{ path('program_new') }}">
        Ajouter un program
    </a>
</div>
{% endblock %}