{% extends "base.html.twig" %}
{% block title %}
Home
{% endblock %}
{% block body %}
   <h1>Wild Séries index</h1>
   <a href="{{ path('program_show', {page: 4}) }}">Show program 4</a>
{% endblock %}