{% extends "base.html.twig" %}
{% block title %}
Programmes
{% endblock %}
{% block body %}
<h1 class="custom-title-sec medium mb-5 text-center">Tous les programmes disponibles : </h1>
<div class="d-flex justify-content-evenly flex-wrap">
    {% for program in programs %}
        {% include "program/_program.html.twig" %}
    {% else %}
        Aucune série trouvée.
    {% endfor %}
</div>
<div class="d-flex justify-content-evenly">
    <a class="btn custom-btn-dark" href="{{ path('app_index') }}">
        Retour à l'accueil
    </a>
    <a class="btn custom-btn-dark" href="{{ path('program_new') }}">
        Ajouter un programme
    </a>
</div>
{% endblock %}