$custom-prim: #19647E;
$custom-sec: #28AFB0;
$custom-ter: #FFFC31;
$custom-light: #e3e4db;
$custom-dark: #2a2b23;

$title-font: 'Lobster', cursive;
$main-font: Verdana;
$extra-font: 'Open Sans Condensed', sans-serif;


@import "~bootstrap/scss/bootstrap";

* {
    color: $custom-light;
    font-family: $extra-font;
}

html, body {
    background-color: $custom-dark;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#navbar {
    height: 5rem;
    background-color: $custom-prim !important;
    color: $custom-light !important;
    font-size: 1.5rem;
}

nav > a {
    font-family: $title-font;
    font-size: 3rem !important;
    color: $custom-ter !important;
    text-shadow: 5px 5px 5px $custom-dark;
}

.nav-link {
    color: $custom-light !important;
}

.form {
    max-width: 34rem;
    margin: auto;
    color: $custom-dark;
    background-color: $custom-prim;
    border: 2px solid $custom-dark;
}

.form-select {
    border-radius: 10%;
    height: 3rem;
    font-size: large;
}

.form-error-icon, .form-error-message {
    color: $custom-light !important;
}

#footer {
    background-color: $custom-prim !important;
}

.content {
    flex-grow: 1;
}

//Title presets
.custom-title {
    font-family: $title-font;
    color: $custom-ter !important;
    
}

.custom-title-sec {
    font-family: $title-font;
    color: $custom-ter !important;
}

.custom-title-dark {
    font-family: $title-font;
    color: $custom-dark !important;
}

.custom-title-dark-sec {
    font-family: $title-font;
    color: $custom-dark !important;
}
//End

//Btn presets
.custom-btn-dark {
    background-color: $custom-dark;
    border-color: $custom-light;
    color: $custom-light;
    text-shadow: 1px 1px 2px $custom-prim;
}

.custom-btn-dark:hover {
    background-color: $custom-sec;
    border-color: $custom-light;
    color: $custom-light;
    text-shadow: 1px 1px 2px $custom-prim;
}

//Card preset
.custom-card {
    min-width: 20rem;
    min-height: 10rem;
    background-color: $custom-prim;
    border: 2px solid $custom-sec;
}

.custom-card:hover {
    background-color: $custom-prim;
    border: 4px solid $custom-ter;
}

.card-program-small {
    width: 25rem;
    height: 25rem;
    display: grid !important;
    grid-template-rows: 3fr 1fr 6fr;
} 

.card-program-large {
    width: 80vw;
    
    margin: auto;
    padding: 3px;
    
    background-color: $custom-prim;
    border: 3px solid $custom-sec;

    display: grid;
    grid-template-columns: 1fr 1fr;
}

.card-program-large-img {
    max-width: 40vw;
}

.card-resume-episode {
    width: 80vw;
    
    margin: auto;
    padding: 3px;
    
    background-color: $custom-prim;
    border: 3px solid $custom-sec;
}

.simple-card {
    margin: auto;
    padding: 3px;
    width: 80vw;
    background-color: $custom-prim;
}

.card-episode {
    width: 90vw;
    
    margin: auto;
    padding: 3px;
    background-color: $custom-prim;
}
//End

//Custom font size and font color
.big {
    font-size: 5rem;
    text-shadow: 4px 4px 4px $custom-sec;
}

.medium {
    font-size: 3rem;
    text-shadow: 3px 3px 3px $custom-sec;
}

.small {
    font-size: 2rem;
    text-shadow: 2px 2px 2px $custom-sec;
}

.x-small {
    font-size: 1.5rem;
    text-shadow: 2px 2px 2px $custom-sec;
}


.light {
    color: $custom-light !important;
}

.highlight {
    color: $custom-ter !important;
}

.dark  {
    color: $custom-dark !important;
}
//End